.bg-4 { 
    background-color: #e2b7b7; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
footer{
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
}